---
- name: create app dir
  file:
    path: /home/ec2-user/app
    state: directory
# - name: unzip artifact
#   shell: |
#     tar -xvzf artifact.tar.gz
- unarchive:
    src: artifact.tar.gz
    dest: /home/ec2-user/app
- name: start back-end
  shell: |
    pm2 stop default
    pm2 start npm -- start